* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #edf2f4;
    color: #2b2d42;
}


.btn {
    border: none;
    background-color: #d90429;
    border-radius: 0.2rem;
    color: #2b2d42;
    cursor: pointer;
    padding: 6px 12px;
    margin-inline: 10px;
    font-size: 1rem;
    font-weight: 600;
    transition: color 0.5s, transform 0.5s;
}



.btn:hover {
    color: #edf2f4;
    transform: translate(2%, -2%);
}

.margin-auto {
    margin-inline-start:auto ;
    margin-inline-end: auto;
}

.main-header{ 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2b2d42;
    margin-block-end: 1em;
    z-index: 500;
}

.logo {
    color: #8d99ae;
    letter-spacing: 0.3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-inline-start: 10px;
}

.main-nav {
    display: flex;
}

.main-nav input {
    height: 90%;
    border-radius: 5px;
}

.main-nav button {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 1px 4px;
}

.location-display {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location-display > div {
    position: relative;
}

.copy-modal {
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
    z-index: 1;
    transition: transform 0.6s;
}

.copy-modal.modal-open {
    position: absolute;
    top: 50%;
    transform: translate(-110%, -50%);
}

.location-display p {
    font-size: 1.5rem;
}

.location-display button {
    position: relative;
    height: 100%;
    padding: 10px 20px;
    z-index: 3;
}

.main-section {
    display: flex;
}

.location-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    margin-inline-end: 28px;
}

.locs {
    height: 200px;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 0.7rem;
    overflow: scroll;
    overflow-x: hidden;
    border: 1px solid #1d1d1d;

}

.loc {
    display: flex;
    align-items: center;
    min-height: fit-content;
    flex: 1;
    max-height: 50px;
    border-bottom: 1px solid #1d1d1d;
}

.loc-btn {
    width: 45px;
    height: 45px;
    margin-right: 5px;

    transition: background-color 0.5s;
}

.loc-btn:hover {
    background-color: #8d99ae;
}

.loc img {
    cursor: pointer;
    width: 100%;
}

.loc-address {
    font-size: 0.8rem;
    margin-bottom: 3px;
}

.loc-latlng {
    font-size: 0.6rem;
}

.delete-button {
    margin-left: auto;
} 
.loc-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    width:100%;
}

.weather-info {
    flex-basis: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: #8d99ae; */
}

.weather-info  p {
    display: flex;
    align-items: center;
}

.weather-left p:last-child {
    font-size: 0.8rem;
}

.weather-right {
    font-size: 0.7rem;
    margin-left: 1em;
}

.flag {
    margin-inline-start: 12px;
    width: 25px;
}

.temp {
    background-color: #6ede8a;
    padding: 1px 2px;
    border-radius: 2px;
    margin-left: 5px;
}





@media (max-width: 800px) {
    html {
        font-size: 12px;
    }
    .main-section {
        flex-direction: column-reverse;
        margin-inline: 20px;
    }
    #map {
        margin-bottom: 20px;
    }
    .btn {
        padding: 3px 6px;
    }
    .location-info {
        width: 60%;
    }
}

@media (min-width: 800px) {
    .main-layout > *:not(.full) {
        max-width: 850px;
    }
}
@media (min-width: 960px) {
    .main-layout > *:not(.full) {
        max-width: 950px;
    }
}
@media (min-width: 1180px) {
    .main-layout > *:not(.full) {
        max-width: 1100px;
    }
}
@media (min-width: 1350px) {
    .main-layout > *:not(.full) {
        max-width: 1300px;
    }
}