
.main-section {
    display: flex;
}

.location-info {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.locs {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.loc {
    display: flex;
    align-items: center;
}


img {
    width: 20%;

}